{% extends 'base.html' %}
{% load static %}

{% block head %}
<!--CSSファイル　指定-->
<link rel="stylesheet" type="text/css" href="{% static 'css/option.css'%}">
<title>IKIGAI_option</title>
{% endblock %}

{% block contents %}

<form method="get" action="#" class="search_container">
    <input type="text" size="25" placeholder=" キーワード検索">
    <input type="submit" value="&#xf002">
</form>

<div class="fadeIN">

    <h1>このサイトでは、
        <br>出題される質問に答えていくことで
        <br>あなたにおすすめの趣味を提案します。
    </h1>

</div>

<a class="button" href="{% url 'hobby:question' %}">
    <b href="#"></b>
</a>

<!--背景アニメーション-->
<div class="area" >
    <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
</div >

<!--メニュー-->
<ul href="#" class="hList">
    <li>
        <div class="menu">
            <h2 class="menu-title">IKIGAI</h2>
            <ul class="menu-dropdown">
                <li><a href="{% url 'hobby:index' %}">home</a></li>
                <li><a href="{% url 'hobby:option' %}">about</a></li>
                <li><a href="{% url 'hobby:question' %}">question</a></li>
                <li><a href="{% url 'hobby:results' %}">result</a></li>
            </ul>
        </div>
    </li>
</ul>

{% endblock %}