<!-- バックエンドテスト用のHTML -->

{% extends 'base.html' %}
{% load static %}

{% block head %}
    <!--CSSファイル　指定-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/question.css'%}">
    <title>IKIGAI_question</title>
{% endblock %}

{% block contents %}
<div class="question">
    {{ question }}
  </div>
  <div class="btns">
    <form method="post">
      {% csrf_token %}
      <button class="btn-yes" name="btn_yes" type="submit">YES</button>
      <button class="btn-no" name="btn_no" type="submit">NO</button>
    </form>

  </div>

{% endblock %}