{% extends 'base.html' %}
{% load static %}

{% block head %}
    <!--CSSファイル　指定-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/question.css'%}">
    <title>IKIGAI_question</title>
{% endblock %}

{% block contents %}

    <form method="get" action="#" class="search_container">
        <input type="text" size="25" placeholder=" キーワード検索">
        <input type="submit" value="&#xf002">
    </form>


    <!--質問-->
    <div class="fadeIN">

        <p>{{ question }}</p>

    </div>

    <!--tes/no ボタン　-->

    <!--yes/no ボタン　-->

    <form action="" method="POST" action="test.php">
        {% csrf_token %}
        <input type="submit" class="btn_1" value="NO!!" name="btn_no">
    </form>

    <form action="" method="POST" action="test.php">
        {% csrf_token %}
        <input type="submit" class="btn_2" value="NO" name="btn_partially_no">
    </form>

    <form action="" method="POST" action="test.php">
        {% csrf_token %}
        <input type="submit" class="btn_3" value="Neutral" name="btn_neutral">
    </form>

    <form action="" method="POST" action="test.php">
        {% csrf_token %}
        <input type="submit" class="btn_4" value="YES" name="btn_partially_yes">
    </form>

    <form action="" method="POST" action="test.php" name="">
        {% csrf_token %}
        <input type="submit" class="btn_5" value="YES!!" name="btn_yes">
    </form>


    <!--背景アニメーション-->
    <div class="area" >
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div >

    <!--メニュー-->
    <ul href="#" class="hList">
        <li>
            <div class="menu">
                <h2 class="menu-title">IKIGAI</h2>
                <ul class="menu-dropdown">
                    <li><a href="{% url 'hobby:index' %}">home</a></li>
                    <li><a href="{% url 'hobby:option' %}">about</a></li>
                    <li><a href="{% url 'hobby:question' %}">question</a></li>
                    <li><a href="{% url 'hobby:results' %}">result</a></li>
                </ul>
            </div>
        </li>
    </ul>

{% endblock %}