{% extends 'base.html' %}
{% load static %}

{% block head %}
    <!--CSSファイル　指定-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/question.css'%}">
    <title>IKIGAI_question</title>
{% endblock %}

{% block contents %}

    <form method="get" action="#" class="search_container">
        <input type="text" size="25" placeholder=" キーワード検索">
        <input type="submit" value="&#xf002">
    </form>


    <!--質問-->
    <div class="fadeIN">

        <p>{{ question}}</p>

    </div>

    <!--tes/no ボタン　-->

    <form action="" method="POST" action="test.php">
        {% csrf_token %}
        <input type="submit" class="btn_yes" value="YES" name="btn_yes">
    </form>

    <form action="" method="POST" action="test.php">
        {% csrf_token %}
        <input type="submit" class="btn_no" value="NO" name="btn_no">
    </form>

    <!--背景アニメーション-->
    <div class="area" >
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div >

    <!--メニュー-->
    <ul href="#" class="hList">
        <li>
            <div class="menu">
                <h2 class="menu-title">IKIGAI</h2>
                <ul class="menu-dropdown">
                    <li><a href="C:\Users\r29tk\OneDrive\デスクトップ\HTMLファイル\index.html">home</a></li>
                    <li><a href="C:\Users\r29tk\OneDrive\デスクトップ\HTMLファイル\option.html">about</a></li>
                    <li><a href="C:\Users\r29tk\OneDrive\デスクトップ\HTMLファイル\question.html">question</a></li>
                    <li><a href="C:\Users\r29tk\OneDrive\デスクトップ\HTMLファイル\results.html">result</a></li>
                </ul>
            </div>
        </li>
    </ul>

{% endblock %}